.card-group {
    width: 80%;
    margin: 2rem auto;
    max-width: 1400px;
    color: #A90432;
}

.card-group h2,
.card-group h3 {
    color: #FDB912;
}

.card{ 
    background-color: transparent;
    border-radius: 10px;
    padding: 1.2rem;
    margin: 1rem auto;
    box-shadow: 0 0 5px white;
    width: 100%;
    color: whitesmoke;
}

.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #A90432;
    font-size: 1.5rem;
}

.card-des {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 1rem 0;
    box-shadow: 0 0 2px white;
    border-radius: 10px;
    padding: .5rem;
}

.wind-div,
.humidity-div,
.pressure-div,
.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.weather-temp span {
    font-weight: 700;
}

.weather-temp-des {
    text-transform: capitalize;
    font-weight: 500;
}

.partner-icon {
    font-size: 2rem;
}

@media screen and (max-width:992px) {
    .card-des {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .wind-div{
        margin-left: -1.2rem;
        gap: 1rem;
    }
}

@media screen and (max-width:768px) {
    .card-des {
        grid-template-columns: 1fr;
        text-align: center;
        gap: .5rem;
    }

    .weather,
    .temp-div,
    .humidity-div,
    .pressure-div,
    .wind-div {
        flex-direction: column;
    }

    .wind-div{
        margin-left: 0;
        gap: 0.5rem;
    }

}