
.input-div {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.input {
    width: 80%;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    border: none;
    outline: none;
    border: 1px solid;
    background-color: transparent;
    color: whitesmoke;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.btn {
    position: absolute;
    right: 13%;
    top: 10px;
    color: whitesmoke;
}

.search-location {
    position: absolute;
    left: 12%;
    top: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
}
