.instant-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    max-width: 1400px;
    width: 80%;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 10px;
    color: whitesmoke;
}

.weather {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 2.5rem;
    gap: .5rem;
}

.city {
    font-size: 1.2rem;
    color: #FDB912;
}

.instant-weather span {
    font-weight: 700;
}

.temp-icon {
    font-size: 2.5rem;
}

.temp-div,
.humidity-div,
.wind-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.partner-icon {
    font-size: 2rem;
}

.temp-desc {
    text-transform: capitalize;
    font-weight: 500;
}

@media screen and (max-width:992px) {
    .weather {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .temp-div,
    .humidity-div,
    .wind-div {
    justify-content: flex-start;
    }

    .wind-div{
        margin-left: .5rem;
    }
}

@media screen and (max-width:768px) {
    .weather {
        grid-template-columns: 1fr;
        text-align: center;
        gap: .5rem;
    }

    .weather-title {
        font-size: 1.8rem;
    }

    .temp-div,
    .humidity-div,
    .wind-div {
        flex-direction: column;
    }

    .wind-div{
        margin-left: 0rem;
    }
}