* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
}

.input-div {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

.input {
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    border: none;
    outline: none;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

