* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
}

.haftalik-h1 {
    text-align: center;
    color: gray;
    text-transform: uppercase;
    margin-top: 5rem;
}